<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>About</title>
    <style>
        .title {
    color: red;
    text-align: center;
    font-style: italic;
    font-size: 50px;
    }

    .desc{
    font-size: 30px;
    border: 2px solid violet;
    }
    </style>
</head>
<body>
    <h1 class="title">Work Flow Analysis and Performance based Rewarding System</h1>
    <br>
    <br>
    <h3 class="desc">This software or application used to manage projects in a company , check status of each employee , assign different tasks or works to employees,showing progress..etc. The current Project is an upgrade of the existing system with a new feature of rewarding. This feature is added so that the members can be rewarded for completion of tasks and the weight of the task. This rewarding is solely competitive based ,i.e.. the employees who perform well or complete most number of tasks are given rewards. So for this purpose , each team member has some points associated(initially 0 points), and gradually keeps on increasing by completing various tasks.Finally, the ones with the most number of points will be rewarded. The rewarding feature increases work efficiency of employees and reduces time taken to complete the project.
    </h3>
</body>
</html>