{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{%static 'teamleader/dashboard.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
    <div>
          <div class="home-container01"></div>
          <div class="home-container02">
            <a
              href="{% url 'team_leader_dashboard' tl.id %}"
              rel="noreferrer noopener"
              class="home-link"
            >
              Dashboard
            </a>
            <a class="home-text" href="{% url 'tl_update_page' tl.id %}">UpdateDetails</a>
            <a class="add_teammem" href="{% url 'add_teammembers_page' tl.id %}">Add Team Members</a>
            <a class="add_task" href="{% url 'add_tasks_page' tl.id %}">Add Tasks</a>
            <a class="approve_task" href="{% url 'approve_page' tl.id %}">Approve Tasks</a>
          </div>
        
          <div class="tag2">
            <div class="home-container04">
              <span class="home-text01">S.no</span>
              <span class="home-text02">Points</span>
              <span class="home-text03">Name</span>
              
            </div>
            {% for tm in tms %}
            <div class="home-container05">
              <div class="home-container06">
                <span class="home-text05">
                  <span>{{ forloop.counter }}</span>
                  <br />
                </span>
              </div>
              <div class="home-container07">
                <span class="home-text05">
                  <span>{{ tm.name }}</span>
                  <br />
                </span>
              </div>
              <div class="tag3">
                <span class="home-text08">
                  <span class="home-text09">{{ tm.total_points }}</span>
                  <br />
                </span>
              </div>
              
            </div>
            {% endfor %}
            
          
          </div>
        {% if tl.is_project_created %}
          <h1 class="tag8">{{ project.name }}</h1>
          <h1 class="home-text32">Pending Tasks:</h1>
          <div class="home-container03">
            <div class="home-container04">
              <span class="home-text01">Id</span>
              <span class="home-text02">Points</span>
              <span class="home-text03">Name</span>
              <span class="tag5">Assigned to</span>
            </div>
            {% for task in pend_tasks %}
            <div class="home-container05">
              <div class="home-container06">
                <span class="home-text05">
                  <span>{{ forloop.counter }}</span>
                  <br />
                </span>
              </div>
              <div class="home-container07">
                <a
                  href="https://example.com"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="home-link1"
                >
                  {{ task.name }} 
                </a>
              </div>
              <div class="home-container08">
                <span class="home-text08">
                  <span class="home-text09">{{ task.points }}</span>
                  <br />
                </span>
              </div>
              <div class="tag6">
                <span class="home-text05">
                  <span>{{ task.assigned_to.name }}</span>
                  <br />
                </span>
              </div>
            </div>
            
            
            
          {% endfor %}
          </div>
          <h1 class="tag4">Tasks Completed:</h1>
          <div class="tag7">
            <div class="home-container04">
              <span class="home-text01">Id</span>
              <span class="home-text02">Points</span>
              <span class="home-text03">Name</span>
              <span class="tag5">Assigned to</span>
            </div>
            {% for task in comp_tasks %}
            <div class="home-container05">
              <div class="home-container06">
                <span class="home-text05">
                  <span>{{ forloop.counter }}</span>
                  <br />
                </span>
              </div>
              <div class="home-container07">
                <a
                  href="https://example.com"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="home-link1"
                >
                {{ task.name }} 
                </a>
              </div>
              <div class="home-container08">
                <span class="home-text08">
                  <span class="home-text09">{{ task.points }}</span>
                  <br />
                </span>
              </div>
              <div class="tag6">
                <span class="home-text05">
                  <span>{{ task.assigned_to.name }}</span>
                  <br />
                </span>
              </div>
            </div>
            
            {% endfor %}
            
            
          </div>
          <a href="{% url 'delete_project' tl.id %}" id="end_pro_button">End Project</a>
          <h3 style="position:relative; top: 148px; left: 210px;">Progress:</h3>
          <div id="progress-bar" class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="0" style="background-color:rgb(98, 0, 238); color:black; font-size:larger">{{ progress }} % </div>
          </div>

        {% else %}
        <h1 class="add-team-members-text1">Start Creating your Project!</h1>
        <form class="add-team-members-form" action="create_project" method = "POST">
          {% csrf_token %}
          <label class="add-team-members-text2">Title of Project:</label>
          <input type="text" class="add-team-members-textinput input" name = 'title' id='title'>
          <label class="add-team-members-text3">Confirm userid:</label>
          <input
          type="text"
          class="add-team-members-textinput1 input"
          name = 'userid'
          id = 'userid'
        />
          <button type="submit" class="add-team-members-button1 button">
            Create
          </button>
        </form>
        {% endif %}
          <div class="home-container10">
            <span class="home-text14">Name:</span>
            <span class="home-text16">Team Name:</span>
            <span class="home-text17">Userid:</span>
            <span class="home-text18">Email:</span>
            <span class="home-text19">{{ tl.name }}</span>
            <span class="home-text21">{{ tl.team_name }}</span>
            <span class="home-text22">{{ tl.email }}</span>
            <span class="home-text23">{{ tl.user_id }}</span>
          </div>
          <div class="home-container11"></div>
          <h1 class="home-text24">Profile</h1>
          
          <h1 class="tag1">Team members:</h1>
          <a href="{% url 'logout'%}" id="button">LogOut</a>

          
        
    </div>
    <script>
      $(document).ready(function() {
    var progress_bar = $("#progress-bar .progress-bar");
    var interval = setInterval(function() {
        var current_value = progress_bar.attr("aria-valuenow");
        if (current_value > 100) {
            clearInterval(interval);
        } else {
            progress_bar.attr("aria-valuenow", current_value);
            progress_bar.css("width", current_value + "%");
        }
    }, 100);
    });
    </script>
      

</body>
</html>