.home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: flex-start;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-container1 {
    top: 1px;
    left: 1px;
    width: 100%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: 43px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    background-color: #6200ee;
  }
  .home-container2 {
    top: 43px;
    left: 1px;
    width: 198px;
    height: 957px;
    display: flex;
    position: absolute;
    align-items: center;
    border-color: rgba(120, 120, 120, 0.4);
    border-style: solid;
    border-width: 2px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-link {
    top: 26px;
    left: 18px;
    color: #6200ee;
    position: absolute;
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
  }
  .home-text {
    top: 88px;
    left: 10px;
    color: rgb(2, 2, 2);
    position: absolute;
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
  }
  .home-icon {
    width: 24px;
    height: 24px;
  }
  .home-button {
    top: 45px;
    color: rgb(255, 255, 255);
    right: 0px;
    text-align: center;
    width: 102px;
    height: 44px;
    position: absolute;
    font-size: 19px;
    background-color: rgb(238, 0, 4);
    border: #000000;
    border-style: solid;
  }
  .home-text1 {
    top: 103px;
    left: 232px;
    color: #6200ee;
    position: absolute;
  }
  .home-text2 {
    top: 269px;
    left: 230px;
    color: #6200ee;
    position: absolute;
  }
  .home-text3 {
    top: 158px;
    left: 231px;
    color: #6200ee;
    position: absolute;
  }
  .home-text4 {
    top: 103px;
    left: 435px;
    position: absolute;
    font-size: 30px;
  }
  .home-text5 {
    top: 217px;
    left: 435px;
    position: absolute;
    font-size: 30px;
  }
  .home-text6 {
    top: 164px;
    left: 438px;
    position: absolute;
    font-size: 25px;
  }
  .home-text7 {
    top: 214px;
    left: 233px;
    color: #6200ee;
    position: absolute;
  }
  .home-container3 {
    top: 279px;
    right: 239px;
    width: 747px;
    height: 412px;
    flex: 0 0 auto;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    border:rgb(2, 2, 2);
    border-style: solid;
  }
  .home-text8 {
    font-size: 25px;
    overflow: scroll;
  }
  .home-button1 {
    left: 530px;
    color: white;
    width: 304px;
    top: 764px;
    height: 50px;
    position: absolute;
    font-size: 30px;
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 0px;
    background-color: rgb(98, 0, 238);
  }